@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header img {
  width: 70px;
  height: 50px;
  position: relative;
  margin: 10px;
}

header {
  padding: 1rem;
}

header h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

header h2::before {
  position: absolute;
  content: " ";
  display: block;
  border-top: 1px solid #999;
  width: 70%;
}
header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: rgb(42, 127, 155);
  letter-spacing: 0.1rem;
}

main {
  padding: 2rem 4rem;
}

main div {
  padding: 3% 10%;
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5%;
}

main .pic {
  font-style: italic;
  text-align: left;
  margin-bottom: 1rem;
}

.subheading {
  font-style: italic;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  background-color: white;
  color: grey;
  font-size: 1rem;
  padding: 2rem;
}
